var config = {
	ui: {
		networkName: '',
		email: '',
		website: '',
		description: '',
		asn: ''
	},
	agents: [
		{
			name: '',
			id: '',
			api: '',
			key: '',
			allowedCommands: ['ping4', 'ping6', 'trace4', 'trace6']
		}
	]
};

module.exports = config;